.seccion {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.seccion p {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.contenedor-img {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.contenedor-img img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}